parameters:
	ignoreErrors:
		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<PHPCodeBrowser\\\\File\\> given\\.$#"
			count: 1
			path: src/PHPCodeBrowser/CLIController.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 4
			path: src/PHPCodeBrowser/Command/RunCommand.php

		-
			message: "#^Only booleans are allowed in an if condition, mixed given\\.$#"
			count: 1
			path: src/PHPCodeBrowser/Command/RunCommand.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 2
			path: src/PHPCodeBrowser/Helper/IOHelper.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, DOMNode\\|null given\\.$#"
			count: 1
			path: src/PHPCodeBrowser/IssueXML.php

		-
			message: "#^Only booleans are allowed in a negated boolean, string given\\.$#"
			count: 1
			path: src/PHPCodeBrowser/Plugins/ErrorCRAP.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewAbstract.php

		-
			message: "#^Only booleans are allowed in a negated boolean, string given\\.$#"
			count: 2
			path: src/PHPCodeBrowser/View/ViewAbstract.php

		-
			message: "#^Comparison operation \"\\<\" between 1 and int\\<2, max\\> is always true\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Comparison operation \"\\<\\=\" between int\\<32, 255\\> and 55295 is always true\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Comparison operation \"\\>\\=\" between int\\<0, 8\\>\\|int\\<11, 12\\>\\|int\\<14, 31\\> and 57344 is always false\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Comparison operation \"\\>\\=\" between int\\<0, 8\\>\\|int\\<11, 12\\>\\|int\\<14, 31\\> and 65536 is always false\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array given\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/PHPCodeBrowser/View/ViewReview.php

		-
			message: "#^Switch condition type \\(int\\<0, max\\>\\) does not match case condition 1 \\< \\$lineErrorCount \\(bool\\)\\.$#"
			count: 1
			path: src/PHPCodeBrowser/View/ViewReview.php
